<title>Humidity</title>

{% extends 'ardjson/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Données JSON d'humidité</h3>
    <div class="text-center">
        <a href="http://127.0.0.1:8001/api/humidity-data/" target="_blank">http://127.0.0.1:8001/api/humidity-data/</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
            </div>
            <div class="container1 scroll-container">
                <pre class="dataContainer" id="dataContainer1"></pre>
            </div>
        </div>

        <div class="col-md-8">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let myChart;

    function fetchDataAndChart(apiUrl) {
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const dataContainer = document.getElementById(`dataContainer1`);
                dataContainer.textContent = JSON.stringify(data, null, 1);
                updateChart(data);
            });
    }

    function updateChart(data) {
        const humidity = [];
        const hDate = [];

        data.forEach(h => {
            humidity.push(h.humidity);
            hDate.push(`${h.date} ${h.time}`);
        });

        const ctx1 = document.getElementById('myChart1').getContext('2d');
        const hum = {
            labels: hDate,
            datasets: [
                {
                    label: 'Humidité',
                    data: humidity,
                    borderColor: 'green',
                    backgroundColor: 'rgba(0, 255, 0, 0.5)',
                    pointStyle: 'circle',
                    fill: true,
                    pointRadius: 10,
                    pointHoverRadius: 15
                }
            ]
        };
        const config1 = {
            type: 'line',
            data: hum,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'HUMIDITY'
                    }
                }
            }
        };

        if (myChart) {
            myChart.destroy();
        }

        myChart = new Chart(ctx1, config1);
    }

    window.onload = function() {
        fetchDataAndChart("http://127.0.0.1:8001/api/humidity-data/");

        setInterval(function () {
            fetchDataAndChart("http://127.0.0.1:8001/api/humidity-data/");
        }, 3000);
    };
</script>


<br>
{% endblock %}
