<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">DHT11 Sensor Data (Laboratoire 1)</a>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="">Humidité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Temperature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Indice de chaleur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'json' %}">JSON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin</a>
      </li>
    </ul>
  </div>
</nav>